# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
/.vs/Design Pattern Kelompok 3 Test.slnx/FileContentIndex
/.vs/Design Pattern Kelompok 3 Test.slnx/v18
.vs/Design Pattern Kelompok 3 Test/v18/.suo
.vs/Design Pattern Kelompok 3 Test/v18/DocumentLayout.backup.json
.vs/Design Pattern Kelompok 3 Test/v18/DocumentLayout.json
.vs/Design Pattern kelompok 4.slnx/FileContentIndex/2464a230-1f00-4b9b-acb3-aa3bede37e15.vsidx
.vs/Design Pattern kelompok 4.slnx/v18/Browse.VC.db
.vs/Design Pattern kelompok 4.slnx/v18/ipch/AutoPCH/1320316c9e9b1864/MAIN.ipch
.vs/Design Pattern kelompok 4.slnx/v18/ipch/AutoPCH/4b8115236601bbb9/HANDPLAYER.ipch
.vs/Design Pattern kelompok 4.slnx/v18/ipch/AutoPCH/b794b16f396b3940/GAMEMANAGER.ipch
.vs/Design Pattern kelompok 4.slnx/v18/ipch/AutoPCH/feeed3f9a235b0f/HANDGENERATOR.ipch
.vs/Design Pattern kelompok 4/v18/.suo
.vs/Design Pattern kelompok 4/v18/DocumentLayout.backup.json
.vs/Design Pattern kelompok 4/v18/DocumentLayout.json
